export(
    findTFsInFootprints,
    findSNPsInFootprints,
    tfGrabber,
    tfGrabber.new,
    run.tfGrabber,
    intersectingLocs,
    displaySnps,
    displayADgwas,
    combineBedTables,
    runLift.hg19to38
    )
