export(
    findTFsInFootprints,
    findSNPsInFootprints,
    tfGrabber,
    tfGrabber.new,
    run.tfGrabber,
    intersectingLocs,
    displaySnps,
    displayADgwas,
    combineBedTables,
    runLift.hg19to38,
    selectBestAmongDuplicates
)

import(GenomicRanges)
import(igvR)
import(PrivateCoryData)
import(RSQLite)
import(rtracklayer)
import(VariantAnnotation)

